body, html {
  background-color: #f2f2f2;
  margin:auto;
  padding:0;
  height: 101%;
  font-family: Georgia, serif;
}

a {
  color:white;
}
.card img {
  padding: 10px 4px 4px 4px;
  height: 45%;
  width: 45%;
  margin: auto;
  -webkit-filter: brightness(5);
  cursor: pointer;
}

.card {
  border-radius: 8px;
  width: 109%;
  opacity: 1;
  transition: all 0.5s;
}

.card a{
  color: darkgrey;
}

.card button {
  /* margin-top: calc(100% - 200px); */
  position: relative;
}

.card.change {
  opacity: 0.5;
  transition: all 1.5s;
}

.card:hover {
  opacity: 1.0;
  transition: all 0.4s;
}

.card li {
  font-size: 14px;
  color: black;
}

.card-text {
  font-size: 12px;
}

hr {
  margin-top:-10px;
}

#programmeren hr {
  border: 2px solid firebrick;
}

#scientific hr {
  border: 2px solid orange;
}

#scientific img {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

#AI hr {
  border: 2px solid gold;
}

#computational hr {
  border: 2px solid darkgreen;
}

#informationsystems hr {
  border: 2px solid navy;
}

.row,
.nav {
  height: 100%;
  position: absolute;
  top: 0;
}

.nav {
  z-index: 0;
  width: 100%;
  height: 280px;
  background: rgb(24, 24, 24);
}



.row {
  z-index: 10;
  margin: auto;
  padding: 2.5%;
}

table {
  width: 80%;
  font-size: 16px;
  /* margin-left: 60px; */
  -webkit-animation: fadeInFromNone 1.0s ease-in;
  -moz-animation: fadeInFromNone 1.0s ease-in;
  -o-animation: fadeInFromNone 1.0s ease-in;
  animation: fadeInFromNone 1.0s ease-in;

}

tr {
  /* border-bottom: 1px solid darkgrey; */
}
td {
  padding-bottom: 10px;
}


.sem-blocks {
    position: relative;
    margin: -10px 0 40px 0;
    /* width: 56px; */
    height: 16px;
}

.sem-blocks img {
  margin: 0;
  padding: 0;
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}

.sem-blocks div {
  position: absolute;
  top: 0;
  margin: 0 4px 0 0;
}

.sem-blocks .block-2 {
  left: 20px;
}

.sem-blocks .block-3 {
  left: 40px;
}

#containerbelow {
  padding-left: 0px;
}

#above {
  color: white;
  display: none;
  background: rgb(24, 24, 24);
  height: calc(100% - 280px);
  position: relative;
}

#above h6 {
  cursor: pointer;
}

#above h2 {
  -webkit-animation: fadeInFromNone 1.0s ease-in;
  -moz-animation: fadeInFromNone 1.0s ease-in;
  -o-animation: fadeInFromNone 1.0s ease-in;
  animation: fadeInFromNone 1.0s ease-in;
}

#above .col-6 p, h6, ul, li {
  -webkit-animation: fadeInFromNone 1.0s ease-in;
  -moz-animation: fadeInFromNone 1.0s ease-in;
  -o-animation: fadeInFromNone 1.0s ease-in;
  animation: fadeInFromNone 1.0s ease-in;
}

.col.slideinfo p, ul, ol, li, h6 {
  color: darkgrey;
  -webkit-animation: fadeInFromNone 0s ease-in;
  -moz-animation: fadeInFromNone 0s ease-in;
  -o-animation: fadeInFromNone 0s ease-in;
  animation: fadeInFromNone 0s ease-in;
}

.col.slideinfo h6 {
  color: white;
}

.col.slideinfo {
  max-height: 450px;
  overflow-y: scroll;
}

.slideinfocontent p, ul, ol, li{
  -webkit-animation: fadeInFromNone 0s ease-in;
  -moz-animation: fadeInFromNone 0s ease-in;
  -o-animation: fadeInFromNone 0s ease-in;
  animation: fadeInFromNone 0s ease-in;
}


@-webkit-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@-moz-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@-o-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

.studieschemagroup.slideout {
  display: none;
}

.vergelijk {
  position: relative;
    top: -100px;
}

#programmereninfo, #cls {
  display: none;
}

#programmereninfo tr.studieschema td {
  padding: 2px;
}

.card ul > li > p {
  margin-bottom:2px;
}

.slideinfo .slideinfocontent {
  display: none;
  -webkit-animation: fadeInFromNone 0s ease-in;
  -moz-animation: fadeInFromNone 0s ease-in;
  -o-animation: fadeInFromNone 0s ease-in;
  animation: fadeInFromNone 0s ease-in;
}

.slideinfo.selected .slideinfocontent {
  display: inline;
  -webkit-animation: fadeInFromNone 0s ease-in;
  -moz-animation: fadeInFromNone 0s ease-in;
  -o-animation: fadeInFromNone 0s ease-in;
  animation: fadeInFromNone 0s ease-in;
}


@media only screen and (max-width: 600px) {
  #containerbelow .card {
    width: 100%;
    padding-bottom: 10px;
    opacity: 1.0;
  }
  #containerbelow .col {
    flex: none;
    padding-bottom: 10px;
  }

  .card:hover {
    opacity: 1.0;
  }

  html, body {
    background-color: rgb(19, 19, 19);

  }
}

#rightbar {
  float: right;
  background: rgb(24, 24, 24);
  height: 780px;  /* TODO   */
  /* width: 20%; */
  margin-right: -20px;
  border-bottom-left-radius: 10px;
}

#rightbar li {
  background: none;
  color: white;
}

#rightbar ul {
  margin-top:50px;
}

#overig {
  background-color: #eaeaea;
  border: none;
}

#overig li, ul {
  background-color: inherit;
  list-style-type: disc;
}


#overig h6 {
  color: black;
}

.dot {
  height: 8px;
  width: 8px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
}
