$bgcolor: #181818;
$divheight: 260px;


body, html {
  background-color: #f0f0f0;
  margin:auto;
  padding:0;
  height: 101%;
  // font-family: Georgia, serif;
}

.topnav {
  background-color: $bgcolor;
  overflow: hidden;
}

.topnav img {
  float: left;
  width: 35px;
  height: inherit;
  margin-top: 6px;
  margin-left: 3%;
  margin-right: 20px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 22px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: maroon;
  color: white;
}

a {
  color:#7587b3;
}

a:hover {
  color: #a2a2a2;
}

table a {
  color: white;
}

.col {
  padding-left: 9px;
}
.card img {
  padding: 10px 4px 4px 4px;
  height: 30%;
  width: 30%;
  margin: auto;
  -webkit-filter: brightness(5);
  cursor: pointer;
}

.card {
  border-radius: 6px;
  width: 102%;
  opacity: 1;
  transition: all 0.5s;
  border: none;
  margin-bottom: 10px;
}

.card-body {
  padding: 0.8rem;
  padding-bottom: 0px;
}

.card-body p {
 font-size: 14px;
 padding: 0px;
 margin: 0px;
}

.card a{
  color: darkgrey;
  margin-left: 10px;
  margin-top: 8px;
  padding-bottom: 10px;
}


.btn {
  position: relative;
  width: 100%;
}

.card.change {
  opacity: 0.5;
  transition: all 1.5s;
}

.card:hover {
  opacity: 1.0;
  transition: all 0.4s;
}

.card li {
  font-size: 14px;
  color: black;
}

.card-text {
  font-size: 12px;
}

.wrapper {
  display: flex;
}

.row,
.nav {
  height: 100%;
  position: absolute;
  top: 0;
}

.nav {
  z-index: 0;
  width: 100%;
  height: $divheight;
  background: $bgcolor;
}

.row {
  z-index: 10;
  margin: auto;
  padding: 2.5%;
  padding-top: 0%;
}

table {
  // width: 80%;
  font-size: 16px;
  /* margin-left: 60px; */
  -webkit-animation: fadeInFromNone 1.0s ease-in;
  -moz-animation: fadeInFromNone 1.0s ease-in;
  -o-animation: fadeInFromNone 1.0s ease-in;
  animation: fadeInFromNone 1.0s ease-in;

}

tr {
  /* border-bottom: 1px solid darkgrey; */
}
td {
  padding-bottom: 10px;
}


.sem-blocks {
    position: relative;
    margin: -10px 0 40px 0;
    /* width: 56px; */
    height: 16px;
}

.sem-blocks img {
  margin: 0;
  padding: 0;
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}

.sem-blocks div {
  position: absolute;
  top: 0;
  margin: 0 4px 0 0;
}

.sem-blocks .block-2 {
  left: 20px;
}

.sem-blocks .block-3 {
  left: 40px;
}

.col.slideinfo p, ul, ol, li, h6 {
  color: darkgrey;
  -webkit-animation: fadeInFromNone 0s ease-in;
  -moz-animation: fadeInFromNone 0s ease-in;
  -o-animation: fadeInFromNone 0s ease-in;
  animation: fadeInFromNone 0s ease-in;
}

.col.slideinfo h6 {
  color: white;
}

.col.slideinfo, .col.slideinfo.selected {
  max-height: 100%;
  overflow-y: scroll;
}

.slideinfocontent p, ul, ol, li{
  color: white;
  -webkit-animation: fadeInFromNone 0s ease-in;
  -moz-animation: fadeInFromNone 0s ease-in;
  -o-animation: fadeInFromNone 0s ease-in;
  animation: fadeInFromNone 0s ease-in;
}

.studieschemagroup {
  border-bottom: none !important;
}

.studieschemagroup.slideout {
  display: none;
}

.vergelijk {
  position: relative;
    top: -100px;
}

#programmereninfo, #cls, #sc, #is, #ai {
  display: none;
}

#programmereninfo tr.studieschema td {
  padding: 2px;
}

.card ul > li > p {
  margin-bottom: 1px;
}

.card h6 {
  margin-bottom: 1px;
}

.slideinfo .slideinfocontent {
  display: none;
  -webkit-animation: fadeInFromNone 0s ease-in;
  -moz-animation: fadeInFromNone 0s ease-in;
  -o-animation: fadeInFromNone 0s ease-in;
  animation: fadeInFromNone 0s ease-in;
}

.slideinfo.selected .slideinfocontent {
  display: inline;
  -webkit-animation: fadeInFromNone 0s ease-in;
  -moz-animation: fadeInFromNone 0s ease-in;
  -o-animation: fadeInFromNone 0s ease-in;
  animation: fadeInFromNone 0s ease-in;
}

#overig {
  flex-direction: row;
}

#overig li, ul {
  background-color: inherit;
  list-style-type: disc;
}


#overig h6 {
  color: black;
}

#overig.card {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
#overig .card-body {
  max-width: 200px;
  background: #dddddd;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.dot {
  height: 8px;
  width: 8px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
}

#sc table {
  font-size: 13px;
}

#above .col {
  max-height: 97%;
  overflow-y: scroll;
}

#above table {
  min-width: 100%;
  margin-bottom: 7px;
}

.bottomborder {
  border-bottom: 0px solid darkgrey;
}

.vl {
  border-left: 6px solid $bgcolor;
  height: 100%
}
